ITA-Update_2026_Q1/Stammdateien/KBV_Stammdateien/kbv_stammdateien.2026.1.4/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
ITA-Update_2026_Q1/Stammdateien/KBV_Stammdateien/kbv_stammdateien.2025.4.8/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
Vorquartale/ITA-Update_2025_Q2/Stammdateien/KBV_Stammdateien/kbv_stammdateien.2025.2.4/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
Vorquartale/ita_update_2025_Q4/Stammdateien/KBV_Stammdateien/kbv_stammdateien.2025.4.7/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
Vorquartale/ITA-Update_2025_Q3/Stammdateien/KBV_Stammdateien/kbv_stammdateien.2025.3.9/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
Stammdateien/KBV_Stammdateien/kbv_stammdateien.2026.1.4/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
Stammdateien/KBV_Stammdateien/kbv_stammdateien.2025.4.8/resources/packs/pack-KBV-Stammdateien filter=lfs diff=lfs merge=lfs -text
