.button {
    -fx-background-color: #e8eaf0;
}

.button:hover {
    -fx-background-color: #bab8b8;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.progress-bar {
    -fx-background-color: #e8eaf0;
}
.progress-bar .track{
    -fx-background-insets: 20;
   
}

.radio-button .radio{
-fx-border-width     : 2px;
-fx-border-color     : #468499;
-fx-background-color : white;
-fx-border-radius    : 15px;
}


.radio-button .dot {
    -fx-background-radius: 15px;
}

